.create {
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    height: calc(100vh - 64px);
    align-items: center;
}

.create-container {
    width: 100%;
    max-width: 50%;
    text-align: center;
}

.inputs-form {
    width: 100%;
}

.dot {
    border: rgb(145, 143, 143) 2px solid;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
